.navbar{
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
navbar .logo{
    font-size: 24px;
    font-weight: bold;
    width: 120px;
}

.nav-links{
    display: flex;
    gap: 20px;
    list-style: none;
    font-size: 18px;
}

.navbar-right{
    display: flex;
    gap: 40px;
    align-items: center;
}

.login-button{
    padding: 10px 20px;
    background-color: #ff6347;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-button:hover{
    background-color: #fff4f2;
}
