.Sidebar{
    width: 18%;
    min-height: 100vh;
    border: 1.5px solid #a9a9a9;
    border-top: 0;
    font-size: max(1vw ,10px);
}
.Sidebar-options{
    padding-left: 20px;
    gap:20px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
}
.Sidebar-option{
    align-items: center;
    gap:12px;
    display: flex;
    flex-direction: row;
    border: 1px solid #a9a9a9;
    border-right: 0;
    padding: 8px 10px;
    cursor: pointer;
    border-radius: 3px 0 0 3px;

}

.Sidebar-option img{
    width: 50px;
}

.Sidebar-option.active{
    background-color: #fff0ed;
    border-color: tomato;
}
 .Sidebar-option p{
    font-size: 14px;
 }
@media(max-width:900px) {
    .Sidebar-option p{
        display: none;
    }
    
}