 .verify{
    min-height: 60vh;
    display: grid;

}

.verify .spiner{
    width: 100px;
   height: 100px;
    place-self: center;
    border: 10px solid #bdbdbd;
     border-top: 10px solid tomato;
     border-radius: 50%;
     animation: rotate 1s infinite;
   margin: auto;
 }

@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{        transform: rotate(360deg);
    }
 }