.verify{
    min-height: 80vh;
    display: grid;
    place-items: center;
}

.verify .spinner{
    width: 100px;
    height: 100px;
    border: 10px solid #bdbdbd;
    border-top: 10px solid tomato;
    border-radius: 50%;
    animation: rotate 1s infinite;
}

@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
 }

@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{        transform: rotate(360deg);
    }
 }